<!-- Navbar (sit on top) -->
<div class ="backgroundd">
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#signup" routerLink="/signup" class="w3-bar-item w3-button w3-wide">SIGN UP</a>
    <a href="#login"  routerLink="/login" class="w3-bar-item w3-button w3-wide">LOGIN</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" routerLink="/about" class="w3-bar-item w3-button">ABOUT</a>
      
      <a href="#work" routerLink="/page2" class="w3-bar-item w3-button"><i class="fa fa-th"></i> ART COLLECTIONS</a>
      
     
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar" #mySidebar>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" routerLink="/about"  onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  
  <a href="#work" routerLink="/page2"  onclick="w3_close()" class="w3-bar-item w3-button">ART COLLECTIONS</a>

</nav>
<br>
<br>

<!--Large Title-->

<div class="w3-display-middle w3-text-white w3-jumbo">
  <h1 href="#work" routerLink="/page2"  onclick="w3_close()" class="w3-jumbo w3-animate-top">Enter The World for Artists</h1>
  <hr class="w3-border-white" style="margin:auto;width:40%"><br>
  <div class="Link">
    <br>
 
</div>

<!-- <div class="uploadhere">
<input type="file" name="file" id="file" (change)="fileChange($event)" class="inputfile" accept="image/x-png,image/gif,image/jpeg,image/jpg"/>

<label for="file">Upload here</label>
</div>km 

<button type="button" (click) ="upload()">klik</button>  -->

<!-- Trigger the modal with a button -->
<!-- <div class="inputfile"> -->
<!-- <div>
<button type="button" class="inputfile" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div> -->
<!-- </div> -->

<!--modal-->

</div>

<!--modal signup-->






<!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog"> -->

  <!-- Modal content-->
  <!-- <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
      <p>Some text in the modal
        
          <input type="file" name="file" id="file" (change)="fileChange($event)" class="inputfile" accept="image/x-png,image/gif,image/jpeg,image/jpg"/>
          <button type="button" (click) ="upload()">Upload here</button> 

        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div> -->
<!-- 
</div>
</div>
</div> -->



